/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header-cite .header-con {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.header-cite .logo_block {
  width: 190px;
  height: 83px;
}
.header-cite .logo_block img {
  width: 190px;
  height: 83px;
}
.header-cite .icon_block {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-cite .menu_block {
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.header-cite .res_phone {
  display: none;
}
.header-cite #menu-two {
  display: none;
}
.header-cite #menu-list {
  position: absolute;
  width: 250px;
  top: 45px;
  display: none;
  left: 35px;
  background-color: #fff;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2705882353);
  padding: 25px;
  padding-bottom: 20px;
  border-radius: 0px 15px 15px;
  transition: all 0.3s linear;
}
.header-cite #menu-list a {
  color: #161c24;
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 2px;
  margin-bottom: 5px;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid transparent;
}
.header-cite #menu-list a:hover {
  border-bottom: 1px solid #161c24;
}
.header-cite .search_block {
  width: 30px;
  height: 30px;
}
.header-cite .language {
  cursor: pointer;
}
.header-cite .language_block {
  width: 150px;
  display: none;
  position: absolute;
  border-radius: 0px 5px 5px;
  left: 80px;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.424);
  background-color: #fff;
  top: 45px;
}
.header-cite .language_block a {
  display: flex;
  align-items: center;
  color: #000;
  gap: 5px;
  font-size: 17px;
  font-weight: 900;
  padding: 10px 20px;
  transition: all 0.5s linear;
}
.header-cite .language_block a img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.header-cite .language_block a:hover {
  background-color: rgba(0, 0, 0, 0.0588235294);
  border-radius: 4px;
}
.header-cite .search-btn {
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: #fff;
  color: rgb(87, 86, 86);
  border: none;
  cursor: pointer;
  position: absolute;
  transition: all 0.25s ease;
}
.header-cite .close-btn {
  color: rgb(255, 83, 26);
  z-index: -1;
}
.header-cite .search-box {
  width: 40px;
  height: 40px;
  padding: 15px;
  border-radius: 25px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  transition: width 0.25s ease;
}
.header-cite .search {
  display: flex;
  align-items: center;
}
.header-cite .active .search-box {
  width: 250px;
}
.header-cite .active .search-btn {
  transform: translate(210px, 2px) scale(0.8);
  background-color: transparent;
}
.header-cite .active .close-btn {
  z-index: 0;
  transform: translate(250px, 2px);
}
.header-cite button {
  border: none;
  outline: none;
  padding: 0;
}
@media (max-width: 840px) {
  .header-cite .menu_block {
    width: 30px;
    height: 30px;
  }
  .header-cite .language {
    width: 27px;
    height: 27px;
    margin-left: 8px;
  }
  .header-cite .bx-search {
    font-size: 32px !important;
  }
  .header-cite .search-box {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 20px;
  }
  .header-cite .active .search-box {
    width: 120px !important;
  }
  .header-cite .active .search-btn {
    transform: translate(110px, 2px) scale(0.8);
  }
  .header-cite .icon_block {
    gap: 10px;
  }
  .header-cite .language_block p {
    font-size: 16px;
    font-weight: 600;
  }
  .header-cite .language_block a img {
    width: 22px;
    height: 22px;
  }
  .header-cite .logo_block {
    width: 170px;
    height: 73px;
  }
  .header-cite .logo_block img {
    width: 170px;
    height: 73px;
  }
  .header-cite .icon_block {
    gap: 10px;
  }
  .header-cite .icon_block img {
    width: 27px;
    height: 27px;
  }
}
@media (max-width: 700px) {
  .header-cite #menu-list {
    width: 220px;
    top: 60px;
    left: 0px;
    border-radius: 5px;
    transition: all 0.3s linear;
  }
  .header-cite .language_block {
    width: 150px;
    display: none;
    position: absolute;
    border-radius: 4px;
    left: 50px;
    box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.294);
    background-color: #fff;
    top: 60px;
  }
}
@media (max-width: 590px) {
  .header-cite {
    position: fixed;
    z-index: 10;
    display: block;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.5px solid rgba(18, 16, 16, 0.3294117647);
  }
  .header-cite .header-con {
    padding-bottom: 0;
    padding-top: 0;
  }
  .header-cite .logo_block {
    width: 120px;
    height: 53px;
    margin-right: -14px;
  }
  .header-cite .logo_block img {
    width: 120px;
    height: 53px;
  }
  .header-cite .block_none {
    display: none;
  }
  .header-cite #menu-list {
    position: fixed;
    z-index: 6;
    width: 100%;
    top: 54px;
    left: 0px;
    right: 0px;
    bottom: 0;
    border-radius: 0px;
  }
  .header-cite #menu-list li {
    border-bottom: 0.5px solid rgba(91, 95, 100, 0.1882352941);
    margin-bottom: 15px;
  }
  .header-cite #menu-list a {
    color: #161c24;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid transparent;
  }
  .header-cite #menu-list a:hover {
    border-bottom: 1px solid transparent;
  }
  .header-cite .language_block {
    width: 150px;
    display: none;
    position: absolute;
    border-radius: 4px;
    left: 50px;
    box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.146);
    background-color: #fff;
    top: 40px;
  }
  .header-cite .res_phone {
    display: block;
    border-bottom: 0.5px solid transparent !important;
    display: flex;
  }
  .header-cite .res_phone a {
    position: absolute;
    bottom: 25px;
  }
  .header-cite .res_phone a img {
    width: 22px;
    height: 22px;
  }
  .header-cite .res_phone a span {
    margin-left: 2px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 400px) {
  .header-cite .logo_block {
    width: 100px;
    height: 63px;
    margin-right: -15px;
  }
  .header-cite .logo_block img {
    width: 110px;
    height: 63px;
  }
  .header-cite .active .search-box {
    width: 105px !important;
  }
  .header-cite .active .search-btn {
    transform: translate(90px, 2px) scale(0.8);
  }
}

.hero_section {
  background-color: #4dbdc6;
}
.hero_section .img_block {
  max-width: 500px;
  height: 570px;
  object-fit: contain;
  text-align: center;
  flex-shrink: 0;
}
.hero_section .img_block img {
  object-fit: contain;
}
.hero_section .text_block {
  margin-right: 50px;
  max-width: 700px;
}
.hero_section .text_block .hero_text {
  margin-bottom: 20px;
  font-size: 15px;
}
@media (max-width: 1080px) {
  .hero_section .img_block {
    max-width: 400px;
    height: 470px;
    margin-right: 30px;
  }
}
@media (max-width: 930px) {
  .hero_section .img_block {
    max-width: 350px;
    height: 400px;
    margin-right: 0px;
  }
}
@media (max-width: 845px) {
  .hero_section .big_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero_section .text_block {
    margin-top: 30px;
    margin-right: 0px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .hero_section .img_block {
    max-width: 300px;
    height: 350px;
  }
  .hero_section .text_block {
    margin-right: 0px;
    max-width: 100%;
  }
  .hero_section .hero_text {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
@media (max-width: 590px) {
  .hero_section {
    margin-top: 63px;
  }
}
@media (max-width: 500px) {
  .hero_section .img_block {
    max-width: 250px;
    margin-top: 20px;
    height: 230px;
    margin-bottom: 40px;
  }
  .hero_section .hero_text {
    margin-bottom: 0px !important;
  }
}
@media (max-width: 400px) {
  .hero_section .hero_text {
    font-size: 14px;
  }
}

.service {
  padding: 20px 0px;
  margin-bottom: 20px;
}
.service .text_block {
  text-align: center;
  margin-bottom: 50px;
}
.service .text_block .service_text {
  font-size: 15px;
}
.service .service_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 48px;
}
.service .service_list li {
  max-width: 396.827px;
  width: 100%;
  height: 253px;
}
.service .service_list .service_item {
  padding: 43px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: all 0.4s linear;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
.service .service_list .service_item .img_block {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
}
.service .service_list .service_item p {
  color: #222;
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.service .service_list .active_service_card {
  background-color: rgb(136, 209, 244) !important;
}
.service .service_list .active_service_card img {
  background: #fff;
  border-radius: 10px;
}
.service .service_list .service_item:hover {
  background: #183e75;
}
.service .service_list .service_item:hover .img_block {
  background: #fff;
  border-radius: 10px;
}
.service .service_list .service_item:hover p {
  color: #fff;
}
.service .form_block {
  text-align: center;
}
@media (max-width: 600px) {
  .service .text_block {
    margin-bottom: 30px;
  }
  .service .service_text {
    font-size: 14px;
  }
  .service .service_list {
    gap: 10px;
  }
  .service .service_list li {
    max-width: 451px;
  }
  .service .service_list .service_item .img_block {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
}

.product {
  background-color: #4dbdc6;
  padding: 20px 0px;
}
.product .title {
  text-align: center;
}
.product .product_list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 40px;
}
.product .product_list .product_item {
  padding: 43px 0px;
  max-width: 294.959px;
  width: 100%;
  height: 236.709px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: all 0.4s linear;
  box-shadow: 1px 0px 0px 0px #c4cdd5 inset, -1px 0px 0px 0px #c4cdd5 inset;
  background-color: #fff;
}
.product .product_list .product_item .img_block {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 20px;
}
.product .product_list .product_item p {
  color: #454545;
  text-align: center;
  font-family: Calibri;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}
.product .product_list .product_item:hover {
  opacity: 0.8;
}
.product .product_list .product_item:hover .img_block {
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .product {
    padding: 15px 0px;
  }
  .product .product_list {
    margin-top: 35px;
    gap: 20px;
  }
  .product .product_list .product_item {
    padding: 38px 0px;
    max-width: 450px;
    height: 216.709px;
  }
}

.advantages {
  padding: 20px 0px;
}
.advantages .advantages_list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 48px;
}
.advantages .advantages_list .advantages_item {
  padding: 43px 0px;
  max-width: 396.827px;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: all 0.4s linear;
  box-shadow: 1px 0px 0px 0px #c4cdd5 inset, -1px 0px 0px 0px #c4cdd5 inset;
}
.advantages .advantages_list .advantages_item .img_block {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
}
.advantages .advantages_list .advantages_item p {
  color: #222;
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.advantages .advantages_list .advantages_item:hover {
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .advantages {
    padding: 15px 0px;
  }
  .advantages .advantages_list {
    margin-top: 35px;
    gap: 20px;
  }
  .advantages .advantages_list .advantages_item {
    padding: 38px 0px;
    max-width: 450px;
    height: 216.709px;
  }
}

.our_work {
  background-color: #4dbdc6;
  padding: 40px 0;
}
.our_work .our_work_list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.our_work .our_work_list .our_work_item {
  position: relative;
  max-width: 393px;
  width: 100%;
  height: 360px;
}
.our_work .our_work_list .our_work_item .top_kv {
  position: absolute;
  z-index: 2;
  top: -10px;
  right: 10px;
  width: 48px;
  height: 41.669px;
  background: #183e75;
}
.our_work .our_work_list .our_work_item img {
  max-width: 393px;
  height: 280px;
  object-fit: contain;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .our_work {
    padding: 20px 0px;
  }
  .our_work .our_work_list {
    margin-top: 20px;
    gap: 30px;
  }
  .our_work .our_work_list .our_work_item {
    max-width: 393px;
    width: 100%;
    height: 330px;
  }
  .our_work .our_work_list .our_work_item img {
    max-width: 393px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .our_work {
    padding: 20px 0px;
  }
  .our_work .our_work_list {
    margin-top: 20px;
    gap: 30px;
  }
  .our_work .our_work_list .our_work_item {
    max-width: 393px;
    width: 100%;
    height: 330px;
  }
  .our_work .our_work_list .our_work_item img {
    max-width: 393px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.for_partners {
  padding: 20px 0;
}
.for_partners .for_partners_list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 48px;
}
.for_partners .for_partners_list .for_partners_item {
  padding: 43px 0px;
  max-width: 396.827px;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: all 0.4s linear;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
.for_partners .for_partners_list .for_partners_item .img_block {
  width: 89px;
  height: 89px;
  object-fit: contain;
  margin-bottom: 20px;
}
.for_partners .for_partners_list .for_partners_item p {
  color: #222;
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.for_partners .for_partners_list .for_partners_item:hover {
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .for_partners {
    padding: 15px 0px;
  }
  .for_partners .for_partners_list {
    margin-top: 30px;
    gap: 20px;
  }
  .for_partners .for_partners_list .for_partners_item {
    padding: 38px 0px;
    max-width: 450px;
    height: 216.709px;
  }
  .for_partners .for_partners_list .for_partners_item .img_block {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
  }
  .for_partners .for_partners_list .for_partners_item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
}

.partners {
  background-color: #4dbdc6;
}

.wrapper {
  max-width: 1340px;
  width: 100%;
  position: relative;
  transition: all 0.5s linear;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: rgba(250, 250, 250, 0.448);
  font-size: 40px;
  display: none;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 5;
}

.wrapper:hover i {
  display: inline-block;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background: transparent;
  border: none;
  cursor: pointer;
  flex-direction: column;
}
.carousel .card img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

@media screen and (max-width: 1145px) {
  .wrapper .carousel {
    grid-auto-columns: calc(33.3333333333% - 9px);
  }
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: 50%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
.result {
  padding: 20px 0;
}
.result .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.result .list .item {
  max-width: 400px;
  width: 100%;
  height: 265px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px 1px rgba(0, 0, 0, 0.087);
  padding: 25px;
  transition: all 0.6s ease;
}
.result .list .item img {
  object-fit: contain;
}
.result .list .item:hover {
  padding: 10px;
}
@media (max-width: 800px) {
  .result .list {
    gap: 20px;
    justify-content: center;
  }
  .result .list .item {
    height: 225px;
    padding: 15px;
  }
  .result .item:hover {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .result .list {
    gap: 20px;
    justify-content: center;
  }
  .result .list .item {
    height: 200px;
    padding: 15px;
  }
  .result .item:hover {
    padding: 5px;
  }
}
@media (max-width: 430px) {
  .result .list {
    gap: 20px;
    justify-content: center;
  }
  .result .list .item {
    height: 180px;
    padding: 15px;
  }
  .result .item:hover {
    padding: 5px;
  }
}

.contact {
  padding: 20px 0;
}
.contact .map_block {
  max-width: 863px;
  width: 100%;
  height: 380px;
}
.contact .contact_block {
  width: 300px;
}
.contact .contact_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .phone_block {
  display: block;
  margin-bottom: 15px;
}
.contact .phone_block img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.contact .top_con {
  color: #3e3e3e;
  font-family: Calibri;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 7px;
}
.contact .bottom_con {
  display: block;
  margin-top: 1px;
  margin-left: 50px;
  font-weight: 500;
  color: #000;
}
@media (max-width: 1100px) {
  .contact .contact_wrapper {
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: start;
    text-align: start;
    align-items: start;
  }
  .contact .contact_wrapper .map_block {
    max-width: 100%;
    width: 100%;
  }
  .contact .contact_wrapper .contact_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 690px) {
  .contact {
    padding: 10px 0;
  }
  .contact .contact_wrapper .contact_block {
    width: 100% !important;
    display: block;
  }
  .contact .contact_wrapper .phone_block {
    display: block;
    margin-bottom: 15px;
  }
  .contact .contact_wrapper .phone_block img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
  .contact .contact_wrapper .top_con {
    color: #3e3e3e;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 7px;
  }
  .contact .contact_wrapper .bottom_con {
    display: block;
    margin-top: 1px;
    margin-left: 50px;
    font-weight: 500;
    color: #000;
  }
}

.footer {
  background-color: #183e75;
  padding: 20px 0;
}
.footer .contanfooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .uztrikotaj {
  display: block;
  color: rgba(255, 255, 255, 0.3333333333);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.footer .footer_block ul {
  display: flex;
  gap: 25px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1176470588);
}
.footer .footer_block li {
  cursor: pointer !important;
}
.footer .footer_block a {
  color: rgba(255, 255, 255, 0.537254902);
  cursor: pointer !important;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.4s linear;
}
.footer .footer_block a:hover {
  color: #fff;
}
@media (max-width: 700px) {
  .footer .contanfooter {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .footer .contanfooter .footer_block ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.service_show_section .url_address {
  display: flex;
  gap: 5px;
}
.service_show_section .url_address a {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #264872;
  font-weight: 600;
}
.service_show_section .url_address p {
  color: #9d9d9d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.service_show_section .service_show_block {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.service_show_section .service_show_block .img_block {
  max-width: 460px;
  width: 100%;
  height: 410px;
  object-fit: contain;
}
.service_show_section .service_show_block .img_block img {
  max-width: 460px;
  height: 410px;
  object-fit: contain;
}
.service_show_section .service_show_block .text_block {
  max-width: 700px;
}
@media (max-width: 1100px) {
  .service_show_section .service_show_block .img_block {
    width: 321px;
    height: 320px;
  }
  .service_show_section .service_show_block .img_block img {
    width: 321px;
    height: 320px;
  }
}
@media (max-width: 840px) {
  .service_show_section .service_show_block {
    margin-top: 30px;
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 590px) {
  .service_show_section {
    margin-top: 63px;
  }
}
@media (max-width: 440px) {
  .service_show_section .service_show_block .img_block {
    width: 261px;
    height: 250px;
  }
  .service_show_section .service_show_block .img_block img {
    width: 261px;
    height: 250px;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none !important;
  list-style: none !important;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Gilroy-Regular";
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Gilroy-SemiBold";
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

::selection {
  background-color: transparent;
  color: unset;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.icon_style {
  font-size: 35px;
  color: #9f9f9f;
}

.big_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_modal {
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 9px 20px;
  background: #0d467b;
  font-style: normal;
  font-weight: 500;
  outline: none;
  transition: all 0.4s linear;
  outline: none;
  border: 1px solid transparent;
}

.btn_modal:hover {
  background: #fff;
  border: 1px solid #0d467b;
  color: #0d467b;
  outline: none;
}

.btns_tr {
  color: #fff;
  margin-top: 40px;
  font-size: 16px;
  border: none;
  padding: 9px;
  width: 400px;
  text-align: center;
  background: #3c3c3b;
  font-style: normal;
  font-weight: 500;
  outline: none;
  transition: all 0.4s linear;
  border: 1px solid transparent;
}

.btns_tr:hover {
  background: #fff;
  border: 1px solid #3c3c3b;
  color: #3c3c3b;
  outline: none;
}

.form-group {
  margin-bottom: 10px !important;
}

.col-form-label {
  font-size: 14px !important;
}

.title {
  color: #3c3c3b;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 15px;
}

input {
  font-size: 15px;
}

.modal-footer {
  padding-top: 0px !important;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .btns_tr {
    color: #fff;
    margin-top: 30px;
    padding: 8px;
    width: 370px;
  }
  .title {
    font-size: 30px;
    font-weight: 500;
  }
}
/* Ekran o'lchami 600px dan kichik bo'lgan holat uchun scrollbar o'lchamini o'zgartirish */
@media (max-width: 600px) {
  .title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .btns_tr {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    padding: 8px;
    width: 350px;
  }
}
@media (max-width: 500px) {
  .btns_tr {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px;
    width: 97%;
  }
  .container {
    padding: 14px;
  }
  /* Webkit brauzerlari (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 3px !important;
  }
  /* Scrollbar thumb rangi */
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
  }
  /* Scrollbar track rangi */
  ::-webkit-scrollbar-track {
    background-color: #c1c1c1;
  }
  .title {
    font-size: 21px;
  }
}/*# sourceMappingURL=main.css.map */