html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none !important;
  list-style: none !important;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Gilroy-Regular";
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Gilroy-SemiBold";
}
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

::selection {
  background-color: transparent;
  color: unset;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: auto;
  padding: 20px;
}
.icon_style {
  font-size: 35px;
  color: #9f9f9fff;
}
.big_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_modal {
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 9px 20px;
  background: #0d467bff;
  font-style: normal;
  font-weight: 500;
  outline: none;
  transition: all 0.4s linear;
  outline: none;
  border: 1px solid transparent;
}
.btn_modal:hover {
  background: #fff;
  border: 1px solid #0d467bff;
  color: #0d467bff;
  outline: none;
}
.btns_tr {
  color: #fff;
  margin-top: 40px;
  font-size: 16px;
  border: none;
  padding: 9px;
  width: 400px;
  text-align: center;
  background: #3c3c3b;
  font-style: normal;
  font-weight: 500;
  outline: none;
  transition: all 0.4s linear;
  border: 1px solid transparent;
}
.btns_tr:hover {
  background: #fff;
  border: 1px solid #3c3c3b;
  color: #3c3c3b;
  outline: none;
}
.form-group {
  margin-bottom: 10px !important;
}
.col-form-label {
  font-size: 14px !important;
}
.title {
  color: #3c3c3b;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}
.text {
  margin-bottom: 20px;
  font-size: 15px;
}
input {
  font-size: 15px;
}
.modal-footer {
  padding-top: 0px !important;
}
// responsive
@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .btns_tr {
    color: #fff;
    margin-top: 30px;
    padding: 8px;
    width: 370px;
  }
  .title {
    font-size: 30px;
    font-weight: 500;
  }
}
/* Ekran o'lchami 600px dan kichik bo'lgan holat uchun scrollbar o'lchamini o'zgartirish */
@media (max-width: 600px) {
  .title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .btns_tr {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    padding: 8px;
    width: 350px;
  }
}
@media (max-width: 500px) {
  .btns_tr {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px;
    width: 97%;
  }
  .container {
    padding: 14px;
  }
  /* Webkit brauzerlari (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 3px !important;
  }

  /* Scrollbar thumb rangi */
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1ff;
  }

  /* Scrollbar track rangi */
  ::-webkit-scrollbar-track {
    background-color: #c1c1c1ff;
  }
  .title {
    font-size: 21px;
  }
}
