.advantages {
  padding: 20px 0px;
  .advantages_list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 48px;
    .advantages_item {
      padding: 43px 0px;
      max-width: 396.827px;
      width: 100%;
      height: 240px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      transition: all 0.4s linear;
      box-shadow: 1px 0px 0px 0px #c4cdd5 inset, -1px 0px 0px 0px #c4cdd5 inset;
      .img_block {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      p {
        color: #222;
        text-align: center;
        font-family: Calibri;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
    }
    .advantages_item:hover {
      opacity: 0.7;
    }
  }
  @media (max-width: 1000px) {
    padding: 15px 0px;
    .advantages_list {
      margin-top: 35px;
      gap: 20px;
      .advantages_item {
        padding: 38px 0px;
        max-width: 450px;
        height: 216.709px;
      }
    }
  }
}
