.contact {
  padding: 20px 0;
  .map_block {
    max-width: 863px;
    width: 100%;
    height: 380px;
  }

  .contact_block {
    width: 300px;
  }
  .contact_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .phone_block {
    display: block;
    margin-bottom: 15px;
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }
  .top_con {
    color: #3e3e3e;
    font-family: Calibri;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 7px;
  }
  .bottom_con {
    display: block;
    margin-top: 1px;
    margin-left: 50px;
    font-weight: 500;
    color: #000;
  }
  @media (max-width: 1100px) {
    .contact_wrapper {
      gap: 30px;
      flex-direction: column-reverse;
      justify-content: start;
      text-align: start;
      align-items: start;
      .map_block {
        max-width: 100%;
        width: 100%;
      }
      .contact_block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  @media (max-width: 690px) {
    padding: 10px 0;
    .contact_wrapper {
      .contact_block {
        width: 100% !important;
        display: block;
      }
      .phone_block {
        display: block;
        margin-bottom: 15px;
        img {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }
      }
      .top_con {
        color: #3e3e3e;
        font-family: Calibri;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 7px;
      }
      .bottom_con {
        display: block;
        margin-top: 1px;
        margin-left: 50px;
        font-weight: 500;
        color: #000;
      }
    }
  }
}
