.wrapper {
  max-width: 1340px;
  width: 100%;
  position: relative;
  transition: all 0.5s linear;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: rgba(250, 250, 250, 0.448);
  font-size: 40px;
  display: none;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 5;
}
.wrapper:hover {
  i {
    display: inline-block;
  }
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }
  scroll-snap-align: start;
  list-style: none;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background: transparent;
  border: none;
  cursor: pointer;
  flex-direction: column;
}

@media screen and (max-width: 1145px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2));
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
