.footer {
  background-color: #183e75;
  padding: 20px 0;
  .contanfooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .uztrikotaj {
    display: block;
    color: #ffffff55;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  .footer_block {
    ul {
      display: flex;
      gap: 25px;
      padding-bottom: 12px;
      border-bottom: 1px solid #ffffff1e;
    }
    li {
      cursor: pointer !important;
    }
    a {
      color: #ffffff89;
      cursor: pointer !important;
      font-size: 17px;
      font-weight: 500;
      transition: all 0.4s linear;
    }
    a:hover {
      color: #fff;
    }
  }
  @media (max-width: 700px) {
    .contanfooter {
      flex-direction: column;
      gap: 30px;
    }
  }
  @media (max-width: 500px) {
    .contanfooter {
      .footer_block {
        ul {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
