.for_partners {
  padding: 20px 0;
  .for_partners_list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 48px;
    .for_partners_item {
      padding: 43px 0px;
      max-width: 396.827px;
      width: 100%;
      height: 240px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      transition: all 0.4s linear;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

      .img_block {
        width: 89px;
        height: 89px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      p {
        color: #222;
        text-align: center;
        font-family: Calibri;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
    }
    .for_partners_item:hover {
      opacity: 0.7;
    }
  }
  @media (max-width: 1000px) {
    padding: 15px 0px;
    .for_partners_list {
      margin-top: 30px;
      gap: 20px;
      .for_partners_item {
        .img_block {
          margin-bottom: 10px;
          width: 70px;
          height: 70px;
        }
        img {
          width: 70px;
          height: 70px;
          object-fit: contain;
        }
        padding: 38px 0px;
        max-width: 450px;
        height: 216.709px;
      }
    }
  }
}
