.header-cite {
  .header-con {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .logo_block {
    width: 190px;
    height: 83px;
    img {
      width: 190px;
      height: 83px;
    }
  }
  .icon_block {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .menu_block {
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
  .res_phone {
    display: none;
  }
  #menu-two {
    display: none;
  }
  #menu-list {
    position: absolute;
    width: 250px;
    top: 45px;
    display: none;
    left: 35px;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px #00000045;
    padding: 25px;
    padding-bottom: 20px;
    border-radius: 0px 15px 15px;
    transition: all 0.3s linear;
    a {
      color: #161c24;
      font-weight: 900;
      font-size: 18px;
      padding-bottom: 2px;
      margin-bottom: 5px;
      transition: all 0.3s ease-out;
      border-bottom: 1px solid transparent;
    }
    a:hover {
      border-bottom: 1px solid #161c24;
    }
  }
  .search_block {
    width: 30px;
    height: 30px;
  }
  .language {
    cursor: pointer;
  }
  .language_block {
    width: 150px;
    display: none;
    position: absolute;
    border-radius: 0px 5px 5px;
    left: 80px;
    box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.424);
    background-color: #fff;
    top: 45px;

    a {
      display: flex;
      align-items: center;
      color: #000;
      gap: 5px;
      font-size: 17px;
      font-weight: 900;
      padding: 10px 20px;
      transition: all 0.5s linear;
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
    }
    a:hover {
      background-color: #0000000f;
      border-radius: 4px;
    }
  }
  .search-btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: #fff;
    color: rgb(87, 86, 86);
    border: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.25s ease;
  }

  .close-btn {
    color: rgb(255, 83, 26);
    z-index: -1;
  }

  .search-box {
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 25px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    transition: width 0.25s ease;
  }

  .search {
    display: flex;
    align-items: center;
  }

  .active .search-box {
    width: 250px;
  }

  .active .search-btn {
    transform: translate(210px, 2px) scale(0.8);
    background-color: transparent;
  }

  .active .close-btn {
    z-index: 0;
    transform: translate(250px, 2px);
  }
  button {
    border: none;
    outline: none;
    padding: 0;
  }

  // responsive

  @media (max-width: 840px) {
    .menu_block {
      width: 30px;
      height: 30px;
    }
    .language {
      width: 27px;
      height: 27px;
      margin-left: 8px;
    }
    .bx-search {
      font-size: 32px !important;
    }
    .search-box {
      width: 35px;
      height: 35px;
      padding: 10px;
      border-radius: 20px;
    }
    .active .search-box {
      width: 120px !important;
    }
    .active .search-btn {
      transform: translate(110px, 2px) scale(0.8);
    }
    .icon_block {
      gap: 10px;
    }
    .language_block {
      p {
        font-size: 16px;
        font-weight: 600;
      }
      a {
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
    .logo_block {
      width: 170px;
      height: 73px;
      img {
        width: 170px;
        height: 73px;
      }
    }
    .icon_block {
      gap: 10px;
      img {
        width: 27px;
        height: 27px;
      }
    }
  }
  @media (max-width: 700px) {
    #menu-list {
      width: 220px;
      top: 60px;
      left: 0px;
      border-radius: 5px;
      transition: all 0.3s linear;
    }
    .language_block {
      width: 150px;
      display: none;
      position: absolute;
      border-radius: 4px;
      left: 50px;
      box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.294);
      background-color: #fff;
      top: 60px;
    }
  }
  @media (max-width: 590px) {
    position: fixed;
    z-index: 10;
    .header-con {
      padding-bottom: 0;
      padding-top: 0;
    }
    display: block;
    background-color: #fff;
    top: -2px;
    left: 0;
    right: 0;
    border-bottom: 0.5px solid #12101054;
    .logo_block {
      width: 120px;
      height: 53px;
      margin-right: -14px;
      img {
        width: 120px;
        height: 53px;
      }
    }
    .block_none {
      display: none;
    }
    #menu-list {
      position: fixed;
      z-index: 6;
      width: 100%;
      top: 54px;
      left: 0px;
      right: 0px;
      bottom: 0;
      border-radius: 0px;
      li {
        border-bottom: 0.5px solid #5b5f6430;
        margin-bottom: 15px;
      }
      a {
        color: #161c24;
        font-weight: 900;
        font-size: 18px;
        padding-bottom: 2px;
        margin-bottom: 5px;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid transparent;
      }
      a:hover {
        border-bottom: 1px solid transparent;
      }
    }

    .language_block {
      width: 150px;
      display: none;
      position: absolute;
      border-radius: 4px;
      left: 50px;
      box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.146);
      background-color: #fff;
      top: 40px;
    }
    .res_phone {
      display: block;
      border-bottom: 0.5px solid transparent !important;
      display: flex;
      a {
        position: absolute;
        bottom: 25px;
        img {
          width: 22px;
          height: 22px;
        }
        span {
          margin-left: 2px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  @media (max-width: 400px) {
    .logo_block {
      width: 100px;
      height: 63px;
      margin-right: -15px;
      img {
        width: 110px;
        height: 63px;
      }
    }

    .active .search-box {
      width: 105px !important;
    }
    .active .search-btn {
      transform: translate(90px, 2px) scale(0.8);
    }
  }
}
