.hero_section {
  background-color: #4dbdc6ff;
  .img_block {
    max-width: 500px;
    height: 570px;
    object-fit: contain;
    text-align: center;
    flex-shrink: 0;
    img {
      object-fit: contain;
    }
  }
  .text_block {
    margin-right: 50px;
    max-width: 700px;

    .hero_text {
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
  @media (max-width: 1080px) {
    .img_block {
      max-width: 400px;
      height: 470px;
      margin-right: 30px;
    }
  }
  @media (max-width: 930px) {
    .img_block {
      max-width: 350px;
      height: 400px;
      margin-right: 0px;
    }
  }

  @media (max-width: 845px) {
    .big_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .text_block {
      margin-top: 30px;
      margin-right: 0px;
      max-width: 100%;
    }
  }
  @media (max-width: 600px) {
    .img_block {
      max-width: 300px;
      height: 350px;
    }
    .text_block {
      margin-right: 0px;
      max-width: 100%;
    }
    .hero_text {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  @media (max-width: 590px) {
    margin-top: 63px;
  }
  @media (max-width: 500px) {
    .img_block {
      max-width: 250px;
      margin-top: 20px;
      height: 230px;
      margin-bottom: 40px;
    }
    .hero_text {
      margin-bottom: 0px !important;
    }
  }
  @media (max-width: 400px) {
    .hero_text {
      font-size: 14px;
    }
  }
}
