.our_work {
  background-color: #4dbdc6ff;
  padding: 40px 0;
  .our_work_list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    .our_work_item {
      position: relative;
      .top_kv {
        position: absolute;
        z-index: 2;
        top: -10px;
        right: 10px;
        width: 48px;
        height: 41.669px;
        background: #183e75;
      }
      img {
        max-width: 393px;
        height: 280px;
        object-fit: contain;
        margin-bottom: 10px;
      }
      max-width: 393px;
      width: 100%;
      height: 360px;
    }
  }
  @media (max-width: 1000px) {
    padding: 20px 0px;
    .our_work_list {
      margin-top: 20px;
      gap: 30px;
      .our_work_item {
        img {
          max-width: 393px;
          height: 250px;
          object-fit: cover;
          margin-bottom: 10px;
        }
        max-width: 393px;
        width: 100%;
        height: 330px;
      }
    }
  }
  @media (max-width: 500px) {
    padding: 20px 0px;
    .our_work_list {
      margin-top: 20px;
      gap: 30px;
      .our_work_item {
        img {
          max-width: 393px;
          height: 240px;
          object-fit: cover;
          margin-bottom: 10px;
        }
        max-width: 393px;
        width: 100%;
        height: 330px;
      }
    }
  }
}
