.product {
  background-color: #4dbdc6ff;
  padding: 20px 0px;
  .title {
    text-align: center;
  }
  .product_list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
    .product_item {
      padding: 43px 0px;
      max-width: 294.959px;
      width: 100%;
      height: 236.709px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      transition: all 0.4s linear;
      box-shadow: 1px 0px 0px 0px #c4cdd5 inset, -1px 0px 0px 0px #c4cdd5 inset;
      background-color: #fff;
      .img_block {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      p {
        color: #454545;
        text-align: center;
        font-family: Calibri;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
      }
    }
    .product_item:hover {
      opacity: 0.8;
      .img_block {
        border-radius: 10px;
      }
    }
  }

  @media (max-width: 1000px) {
    padding: 15px 0px;
    .product_list {
      margin-top: 35px;
      gap: 20px;
      .product_item {
        padding: 38px 0px;
        max-width: 450px;
        height: 216.709px;
      }
    }
  }
}
