.result {
  padding: 20px 0;
  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    .item {
      max-width: 400px;
      width: 100%;
      height: 265px;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0px 1px 1px 1px 1px rgba(0, 0, 0, 0.087);
      padding: 25px;
      transition: all 0.6s ease;
      img {
        object-fit: contain;
      }
    }
    .item:hover {
      padding: 10px;
    }
  }
  @media (max-width: 800px) {
    .list {
      gap: 20px;
      justify-content: center;
      .item {
        height: 225px;
        padding: 15px;
      }
    }
    .item:hover {
      padding: 5px;
    }
  }
  @media (max-width: 600px) {
    .list {
      gap: 20px;
      justify-content: center;
      .item {
        height: 200px;
        padding: 15px;
      }
    }
    .item:hover {
      padding: 5px;
    }
  }
  @media (max-width: 430px) {
    .list {
      gap: 20px;
      justify-content: center;
      .item {
        height: 180px;
        padding: 15px;
      }
    }
    .item:hover {
      padding: 5px;
    }
  }
}
