.service {
  padding: 20px 0px;
  margin-bottom: 20px;
  .text_block {
    text-align: center;
    margin-bottom: 50px;

    .service_text {
      font-size: 15px;
    }
  }
  .service_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 48px;
    li {
      max-width: 396.827px;
      width: 100%;
      height: 253px;
    }
    .service_item {
      padding: 43px 0px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      transition: all 0.4s linear;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

      .img_block {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      p {
        color: #222;
        text-align: center;
        font-family: Calibri;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
    }
    .active_service_card {
      background-color: rgba(136, 209, 244, 1) !important;
      img {
        background: #fff;
        border-radius: 10px;
      }
    }
    .service_item:hover {
      background: #183e75;
      .img_block {
        background: #fff;
        border-radius: 10px;
      }
      p {
        color: #fff;
      }
    }
  }

  .form_block {
    text-align: center;
  }
  @media (max-width: 600px) {
    .text_block {
      margin-bottom: 30px;
    }
    .service_text {
      font-size: 14px;
    }
    .service_list {
      gap: 10px;

      li {
        max-width: 451px;
      }
      .service_item {
        .img_block {
          width: 70px;
          height: 70px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
