.service_show_section {
  .url_address {
    display: flex;
    gap: 5px;
    a {
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: #264872ff;
      font-weight: 600;
    }
    p {
      color: #9d9d9d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }

  .service_show_block {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    .img_block {
      max-width: 460px;
      width: 100%;
      height: 410px;
      object-fit: contain;
      img {
        max-width: 460px;
        height: 410px;
        object-fit: contain;
      }
    }
    .text_block {
      max-width: 700px;
    }
  }
  @media (max-width: 1100px) {
    .service_show_block {
      .img_block {
        width: 321px;
        height: 320px;
        img {
          width: 321px;
          height: 320px;
        }
      }
    }
  }
  @media (max-width: 840px) {
    .service_show_block {
      margin-top: 30px;
      gap: 30px;
      flex-direction: column;
    }
  }
  @media (max-width: 590px) {
    margin-top: 63px;
  }
  @media (max-width: 440px) {
    .service_show_block {
      .img_block {
        width: 261px;
        height: 250px;
        img {
          width: 261px;
          height: 250px;
        }
      }
    }
  }
}
